header {
    position: sticky;
    top: 0px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6em 5%;
    background-color: var(--black-85);
    font-family: var(--ff-poppins);
    letter-spacing: 0.5px;
    backdrop-filter: blur(6px);
}

.logoContainer a {
    color: var(--red);
    font-weight: bolder;
    font-size: 1.1rem;
}

.logoContainer span {
    color: var(--white);
    font-family: var(--ff-helvetica);
    font-weight: 400;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.header-links {
    color: var(--white);
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.header-links:is(:hover, :focus) {
    font-weight: 500;
    color: var(--red);
    transition: var(--transition-300);
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        gap: 1em;
    }
}

@media (max-width: 550px) {
    header {
        position: sticky;
        top: 0;
        backdrop-filter: none;
    }

    header nav {
        position: fixed;
        top: 100vh;
        left: 50%;
        transform: translate(-50%, -100%);
        z-index: 200;
        color: white;
        background-color: var(--black-85);
        width: 100vw;
        padding: 1em 0;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    header ul {
        gap: 0.75em;
    }

    .header-links {
        font-size: 0.65rem;
        width: max-content;
    }
}
