.homebg-container {
    width: 80vw;
    margin-inline: auto;
}

.homebg-container img {
    box-shadow: 0 0 0 100vh #14130f;
    clip-path: inset(0 -100vh);
    width: 100%;
}

.hero-section h2 {
    text-transform: uppercase;
    width: max-content;
    color: var(--white);
    font-family: var(--ff-poppins);
    position: relative;
    left: 50%;
    transform: translate(-50%, -160px);
}

.tedx-intro {
    margin: 2em 0 0;
    font-family: var(--ff-poppins);
    color: var(--white);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}

.tedx-intro > div {
    width: 70%;
}

.iframe-container {
    width: 30%;
}

iframe {
    width: 100%;
    height: 350px;
}

@media (max-width: 1012px) {
    .tedx-intro {
        flex-direction: column;
        align-items: center;
    }

    .tedx-intro > div {
        width: 100%;
    }

    .hero-section h2 {
        transform: translate(-50%, -100px);
    }
}

@media (max-width: 660px) {
    .hero-section h2 {
        transform: translate(-50%, -70px);
        font-size: 1rem;
    }
}

@media (max-width: 447px) {
    .hero-section h2 {
        transform: translate(-50%, -50px);
        font-size: 1rem;
        font-size: 0.8rem;
    }
}
